.Container {
  position: relative;
  min-height: 300px;
  max-height: 800px;
  overflow: hidden;
  margin-bottom: 500px;
}

/* Style the video: 100% width and height to cover the entire window */
.Video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  /* position: fixed; */
  top: 0;
  left: 0;
}

/* Add some content at the bottom of the video/page */
.Content {
  position: absolute;
  top: 0;
  color: #f1f1f1;
  width: 100%;
  height: 86%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
}

.Content img {
  width: 420px;
}

.SubContent {
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  /* font-size: 26px; */
  font-weight: 200;
}

.SubContent p {
  color: #eeeeeead;
  font-size: 1.3rem;
}

.SubContent h1 {
  font-size: 3.2rem;
  font-weight: 100;
  line-height: 1;
  color: #fff;
  margin: 0 0 10px;
}

/* .SubContent button {
  font-weight: bold;
  margin-top: 30px;
  color: #f1f1f1;
  border: #f1f1f1 1px solid;
  padding: 10px 5px;
  background-color: hsla(0, 0%, 0%, 0);
  font-size: 1.25rem;
  border-radius: 5px;
}

.SubContent button:hover {
  background-color: #f1f1f1;
  color: #000000c0;
} */

.SubContent img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  border: #f1f1f1 1px solid;
}

@media only screen and (max-width: 414px) {
  .Content {
    height: 90%;
  }

  .Content img {
    width: 280px;
  }
}

.LogoTxt {
  transform-origin: 50% 50%;
  animation-name: spinSouth, wiggleSouth;
  animation-delay: 0s, 1s;
  animation-duration: 1s, 1s;
  animation-iteration-count: 1, 4;
  transform: rotate(45deg);
}

.hoverRotate {
  z-index: 10000;
}

.hoverRotate:hover .LogoTxt {
  transform-origin: 50% 50%;
  animation-name: spinNorth;
  animation-delay: 0s, 1s;
  animation-duration: 1s, 1s;
  animation-iteration-count: 1, 4;
  transform: rotate(-45deg);
}

/* Spin south Animation */
@keyframes spinSouth {
  0% {
    transform: rotate(-90deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

/* Spin south Animation */
@keyframes spinNorth {
  0% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(-45deg);
  }
}

/* Wiggle Animation */
@keyframes wiggleSouth {
  0% {
    transform: rotate(45deg);
  }

  50% {
    transform: rotate(40deg);
  }

  100% {
    transform: rotate(45deg);
  }
}