.titleText {
  font-weight: 500;
  font-size: 1.7rem;
  color: #d22238;
  line-height: 1;
}

.quoteText {
  text-align: right;
  font-style: italic;
  font-size: 1.6rem;
  color: #d22238;
  margin-bottom: 0.5rem;
  line-height: 1.3;
}

.quoteAuthor {
  text-align: right;
  margin-bottom: 1.5px;
  line-height: 1.4;
  font-style: italic;
  color: #6d6c6c;
}

.container {
  /* margin-top: 1rem; */
}

.insideContainer {
  margin-bottom: 0.8rem;
  font-weight: 300;
  /* font-size: 1.125rem;
  line-height: 1.7; */
}

.imgFloatRight {
  float: right;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.imgFloatLeft {
  float: left;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.imgBigHeroContainer {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 414px) {
  .quoteText {
    font-size: 1.5rem;
    line-height: 1.4;
  }
  .imgFloatRight,
  .imgFloatLeft {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  .insideContainer {
    font-size: 1rem;
    line-height: 1.6;
  }
}
