.pics_in_a_row {
  display: flex;
  margin-bottom: .8em;
}

.pics_in_a_row>div:not(:last-child) {
  margin-right: 2%;
}

@media only screen and (max-width: 414px) {
  .imgHide {
    display: none;
  }
}