.footer_container {
  /* margin-top: 166px; */
  padding: 3vmin 10vmin;
  /* height: 80px; */
  /* background: #f1f1f1; */
  /* background: url('../assets/naga.png'), #f1f1f1; */
  /* background-size: 10%, contain;
  background-repeat: no-repeat;
  background-position: center center, center center; */
  text-align: center;
  background: #f5f4f4;
  background-image: url('../assets/flames.svg');
}

.caption {
  font-size: 0.8rem;
  font-weight: 500;
}
