.footer_container {
  padding: 3vmin 8vmin;
  /* height: 80px; */

  text-align: left;
  background: #f5f4f4;
  background-image: url('../assets/flames.svg');
  display: flex;
  justify-content: space-between;
}

.caption {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.5;
}

.logo {
  float: left;
  width: 100px;
  margin-right: 0.7rem;
}

input[type='email'] {
  padding: 14px 10px;
  font-size: 1.125rem;
  flex-grow: 1;
  font-family: 'Raleway';
  border: none;
  font-weight: 300;
  -webkit-appearance: none;
  border-radius: 0;
}

input:focus {
  /* border: 1px solid red; */
  outline: none !important;
}

button {
  font-family: 'Raleway';
  font-size: 1.125rem;
  background-color: #949494;
  border: none;
  color: white;
  padding: 0 1rem;
  /* font-weight: 500; */
  text-decoration: none;
  margin: 0;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #d22238;
}

form {
  display: flex;
}

@media only screen and (max-width: 414px) {
  .footer_container {
    flex-direction: column-reverse;
  }

  .logo {

    width: 110px;

  }
}