html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-weight: 500;
  margin: 0 0 1rem;
  font-size: 2.2em;
  text-transform: uppercase;
  color: #d22238;
}

p {
  font-weight: 300;
  font-size: 1.125em;
  line-height: 1.7;
  margin-bottom: 0.8em;
  margin-block-start: 0;
}

a {
  text-decoration: none;
  color: #d22238;
}

a:hover {
  text-decoration: underline;
}

ol {
  font-weight: 300;
  line-height: 1.7;
  font-size: 1.125em;
  padding-inline-start: 1.187rem;
}

strong {
  font-weight: 500;
}

:root {
  --main-font-size: 1.6vmax;
  --main-line-height: 2.6vmax;
  --main-text-color: #393939;
  --main-font-weight: 300;
  --main-color-red: #d22238;
  --main-color-off-white: rgb(205, 205, 205);
}

@media only screen and (max-width: 414px) {
  html {
    font-size: 14px;
  }
}
