.menuContainer {
  display: flex;
  justify-content: space-between;
  top: 40px;
  position: fixed;
  z-index: 100;
  margin: 0 8vmin;
  width: 22%;
  min-width: 300px
}

.textContainer {
  position: fixed;
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menuItem {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0;
  font-weight: 600;
  color: #808080;
}

.menuItem:hover {
  text-decoration: none;
  color: #db7581;
}

.activeMenuItem {
  color: #d22238;
}

.activeMenuItem:hover {
  color: #d22238;
}

@media only screen and (max-width: 414px) {
  .menuContainer {
    display: flex;
    justify-content: space-between;
    top: 77px;
    height: 18px;
    width: 84%;
    padding: 0 8vw;
    margin: 0;
    background-color: white;
  }

  .textContainer {
    width: 86%;
  }
}